<section id="lessons" class="sct-lessons">
    <div class="container">
        <h2 class="lesson-title sct-title lang"
            data-lang-ua="Наші <span class='sct-title-decor'>уроки</span>" 
            data-lang-en="Our <span class='sct-title-decor'>lessons</span>"
        >Our <span class="sct-title-decor">lessons</span></h2>
        <p class="lesson-description lang"
            data-lang-ua="Наші уроки ретельно структуровані та інтерактивні, розроблені для сприяння швидкому засвоєнню мови через практичні завдання та сценарії реального світу" 
            data-lang-en="Our lessons are carefully structured and interactive, designed to promote rapid language acquisition through practical tasks and real-world scenarios"
        >Our lessons are carefully structured and interactive, designed to promote rapid
            language acquisition through practical tasks and real-world scenarios</p>
        <ul class="lesson-plan-list">
            <li class="lesson-plan-item">
                <h4 class="lesson-plan-title lang"
                    data-lang-ua="Практика" 
                    data-lang-en="Practice"
                >Practice</h4>
                <p class="lesson-plan-price lang"
                    data-lang-ua="<span class='price'>40$</span> / місяць" 
                    data-lang-en="<span class='price'>40$</span> / month"
                ><span class="price">40$</span> / month</p>
                <p class="lesson-plan-description lang"
                    data-lang-ua="Цей план пропонує учням можливість брати участь у спільних мовних вправах і групових заходах, покращуючи свої розмовні навички та впевненість у використанні англійської мови." 
                    data-lang-en="This plan offers an opportunity for learners to engage in
                    collaborative language exercises and group activities, boosting their conversational skills and
                    confidence in using English."
                >This plan offers an opportunity for learners to engage in
                    collaborative language exercises and group activities, boosting their conversational skills and
                    confidence in using English.</p>
                <a class="lesson-btn btn lang" href="#application"
                    data-lang-ua="Залиште заявку" 
                    data-lang-en="Leave an application"
                >Leave an application</a>
            </li>
            <li class="lesson-plan-item">
                <h4 class="lesson-plan-title lang"
                    data-lang-ua="Cтандартий" 
                    data-lang-en="Standard"
                >Standard</h4>
                <p class="lesson-plan-price lang"
                data-lang-ua="<span class='price'>70$</span> / місяць" 
                data-lang-en="<span class='price'>70$</span> / month"
                ><span class="price lang">70$</span> / month</p>
                <p class="lesson-plan-description lang"
                    data-lang-ua="Наш стандартний пакет забезпечує збалансований підхід до навчання, який охоплює всі ключові області англійської мови - читання, письмо, аудіювання та усне мовлення. Це набір базових знань і навичок." 
                    data-lang-en="Our standard package provides a balanced learning approach that
                    covers all key areas of English language - reading, writing, listening, and speaking. It is a set of
                    basic knowledge and skills."
                >Our standard package provides a balanced learning approach that
                    covers all key areas of English language - reading, writing, listening, and speaking. It is a set of
                    basic knowledge and skills.</p>
                <a class="lesson-btn btn lang" href="#application" 
                    data-lang-ua="Залиште заявку" 
                    data-lang-en="Leave an application"
                >Leave an application</a>
            </li>
            <li class="lesson-plan-item">
                <h4 class="lesson-plan-title lang"
                    data-lang-ua="Індивідуальний" 
                    data-lang-en="Individual"
                >Individual</h4>
                <p class="lesson-plan-price lang"
                    data-lang-ua="<span class='price'>99$</span> / місяць" 
                    data-lang-en="<span class='price'>99$</span> / month"
                ><span class="price">99$</span> / month</p>
                <p class="lesson-plan-description lang"
                    data-lang-ua="Цей план пропонує учням можливість брати участь у спільних мовних вправах і групових заходах, покращуючи свої розмовні навички та впевненість у використанні англійської мови." 
                    data-lang-en="This plan offers an opportunity for learners to engage in
                    collaborative language exercises and group activities, boosting their conversational skills and
                    confidence in using English."
                >This plan offers an opportunity for learners to engage in
                    collaborative language exercises and group activities, boosting their conversational skills and
                    confidence in using English.</p>
                <a class="lesson-btn btn lang" href="#application"
                    data-lang-ua="Залиште заявку" 
                    data-lang-en="Leave an application"
                >Leave an application</a>
            </li>
        </ul>
    </div>
</section>
