<section id="about_us" class="sct-about">
  <div class="container">
    <h2 class="sct-title">About <span class="title-decor">Us</span></h2>
    <p class="sct-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div>
      <ol>
        <li>Expert, innovative teaching staff</li>
        <li>Wide range of course levels and options</li>
        <li>Multicultural learning environment</li>
        <li>Comprehensive language support services</li>
      </ol>
    </div>
  </div>
</section>
