<section id="teachers" class="sct-teachers">
    <div class="container">
        <h2 class="teachers-title">Meet our <span class="sct-title-decor">teachers</span></h2>
        <p class="teachers-description">
            Discover our team of dedicated educators, committed to guiding you on your
            journey to English proficiency with personalized and engaging instruction
        </p>
        <ul class="team-members">
            <li class="team-member">
                <img src="images/Maria.jpg" alt="Maria" class="team-photo"
                    srcset="./images/Maria.jpg 1x, ./images/Maria@2x.jpg 2x" />
                <div class="team-info">
                    <h3 class="team-name">Maria</h3>
                    <p class="team-position">
                        A seasoned linguist and our primary specialist in beginner-level
                        instruction, Maria brings warmth and patience to every class
                    </p>
                </div>
            </li>
            <li class="team-member">
                <img src="images/Artem.jpg" alt="Artem" class="team-photo"
                    srcset="./images/Artem.jpg 1x, ./images/Artem@2x.jpg 2x" />
                <div class="team-info">
                    <h3 class="team-name">Artem</h3>
                    <p class="team-position">With his innovative teaching techniques and a focus on interactive
                        learning, Artem excels in keeping students engaged
                        and motivated</p>
                </div>
            </li>
            <li class="team-member">
                <img src="images/Ilona.jpg" alt="Ilona" class="team-photo"
                    srcset="./images/Ilona.jpg 1x, ./images/Ilona@2x.jpg 2x" />
                <div class="team-info">
                    <h3 class="team-name">Ilona</h3>
                    <p class="team-position">A specialist in advanced English, Ilona provides intensive instruction,
                        ensuring students gain confidence in complex
                        language tasks</p>
                </div>
            </li>
            <li class="team-member">
                <img src="images/Volodymyr.jpg" alt="Volodymyr" class="team-photo"
                    srcset="./images/Volodymyr.jpg 1x, ./images/Volodymyr@2x.jpg 2x" />
                <div class="team-info">
                    <h3 class="team-name">Volodymyr</h3>
                    <p class="team-position">Our expert in English for specific purposes, Volodymyr tailors his approach
                        to meet individual career and
                        industry-specific language needs</p>
                </div>
            </li>
        </ul>
    </div>
</section>