<section id="about_us" class="sct-about">
    <div class="container">
        <h2 class="sct-title">About <span class="sct-title-decor">Us</span></h2>
        <p class="sct-description">
            We are dedicated to providing engaging and effective English
            language courses in a supportive and stimulating learning
            environment
        </p>
        <div class="sct-about-wrapper">
            <ol class="sct-about-advantages">
                <li class="advantages-item">
                    Expert, innovative teaching staff
                </li>
                <li class="advantages-item">
                    Wide range of course levels and options
                </li>
                <li class="advantages-item">
                    Multicultural learning environment
                </li>
                <li class="advantages-item">
                    Comprehensive language support services
                </li>
            </ol>
            <div class="sct-about-memoji">
                <img
                    class="memoji-img"
                    srcset="
                        ./images/about/memoji@1x.png 1x,
                        ./images/about/memoji@2x.png 2x
                    "
                    src="./images/about/memoji@1x.png"
                    alt=""
                    width="254"
                    height="211"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</section>
