<section id="reviews" class="sct-reviews">
    <div class="container">
        <h2 class="reviews-title sct-title lang"
            data-lang-ua="Що говорять наші <span class='sct-title-decor'>студенти</span>" 
            data-lang-en="What our <span class='sct-title-decor'>students</span> say"
        >
            What our <span class="sct-title-decor">students</span> say
        </h2>
        <p class="reviews-description lang"
            data-lang-ua="Почуйте від наших студентів про їхній навчальний шлях з нами, коли вони діляться своїм досвідом, прогресом і трансформаційним впливом" 
            data-lang-en="Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact"
        >
            Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact
        </p>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="review-wrapper">
                    <img
                        src="./images/rv-anna.jpg"
                        srcset="
                            ./images/rv-anna.jpg    1x,
                            ./images/rv-anna@2x.jpg 2x
                        "
                        class="reviewer-portret"
                        width="50"
                        height="50"
                        alt="Portret of Anna"
                        loading="lazy"
                    />
                    <div class="reviewer-wrapper">
                        <h4 class="reviewer-name lang"
                            data-lang-ua="Анна" 
                            data-lang-en="Anna"
                        >Anna</h4>
                        <p class="reviewer-description lang"
                            data-lang-ua="Студентка" 
                            data-lang-en="Student"
                        >Student</p>
                    </div>
                </div>
                <p class="review-description lang"
                    data-lang-ua="Мій досвід у мовній школі був просто неймовірним. Вчителі віддані своїй справі, а середовище навчання стимулює. Я відчуваю себе більш впевненим у своїх знаннях англійської мови." 
                    data-lang-en="My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills."
                >
                    My experience at the language school has been nothing short
                    of amazing. The teachers are dedicated and the learning
                    environment is stimulating. I feel more confident in my
                    English skills.
                </p>
            </li>
            <li class="reviews-item">
                <div class="review-wrapper">
                    <img
                        src="./images/rv-mykhailo.jpg"
                        srcset="
                            ./images/rv-mykhailo.jpg    1x,
                            ./images/rv-mykhailo@2x.jpg 2x
                        "
                        class="reviewer-portret"
                        width="50"
                        height="50"
                        alt="Portret of Mykhailo"
                        loading="lazy"
                    />
                    <div class="reviewer-wrapper">
                        <h4 class="reviewer-name lang"
                            data-lang-ua="Михайло" 
                            data-lang-en="Mykhailo"
                        >Mykhailo</h4>
                        <p class="reviewer-description lang"
                            data-lang-ua="Студент" 
                            data-lang-en="Student"
                        >Student</p>
                    </div>
                </div>
                <p class="review-description lang"
                    data-lang-ua="Школа пропонує чудовий баланс теорії мови та практичних вправ. Персональний відгук від викладачів допоміг мені покращити мої слабкі місця." 
                    data-lang-en="The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas."
                >
                    The school offers a great balance of language theory and
                    practical exercises. The personalized feedback from the
                    teachers has helped me improve my weak areas.
                </p>
            </li>
            <li class="reviews-item">
                <div class="review-wrapper">
                    <img
                        src="./images/rv-victoria.jpg"
                        srcset="
                            ./images/rv-victoria.jpg    1x,
                            ./images/rv-victoria@2x.jpg 2x
                        "
                        class="reviewer-portret"
                        width="50"
                        height="50"
                        alt="Portret of Victoria"
                        loading="lazy"
                    />
                    <div class="reviewer-wrapper">
                        <h4 class="reviewer-name lang"
                            data-lang-ua="Вікторія" 
                            data-lang-en="Victoria"
                        >Victoria</h4>
                        <p class="reviewer-description lang"
                            data-lang-ua="Студентка" 
                            data-lang-en="Student"
                        >Student</p>
                    </div>
                </div>
                <p class="review-description lang"
                    data-lang-ua="Мені подобаються динамічні та інтерактивні методи навчання, які тут використовуються. Це чудове місце для вивчення англійської мови весело та ефективно. Я точно побачив значне покращення своїх мовних навичок." 
                    data-lang-en="I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills."
                >
                    I love the dynamic and interactive teaching methods used
                    here. It's a great place to learn English in a fun and
                    effective way. I have definitely seen a big improvement in
                    my language skills.
                </p>
            </li>
        </ul>
    </div>
</section>
