<section id="proposal" class="sct-proposal">
    <div class="container">
        <h2 class="header visually-hidden">Proposal to leave an application section be there</h2>

        <div class="proposal-wrapper">
            <h3 class="proposal-header lang"
                data-lang-ua="Оволодійте <span class='proposal-accent'> мовою</span> з нашим англійським пакетом!" 
                data-lang-en="Master the <span class='proposal-accent'> Language</span> with Our English Package!"
            >Master the <span class="proposal-accent"> Language</span> with Our English Package!</h3>

            <div class="proposal-background-1">
                <div class="proposal-background-2">
                    <div class="proposal-face">
                        <div>
                            <h4 class="proposal-list-header lang"
                                data-lang-ua="Сила англійської мови" 
                                data-lang-en="Power of English"
                            >Power of English</h4>
                            <ul class="proposal-list">
                                <li class="proposal-item">
                                    <svg class="proposal-icon" width="20" height="20">
                                        <use href="./images/icons.svg#check"></use>
                                    </svg>
                                    <p class="proposal-text lang"
                                        data-lang-ua="Пориньте в захоплюючі уроки, розроблені, щоб стимулювати вашу цікавість." 
                                        data-lang-en="Dive into captivating lessons designed to stimulate your curiosity."
                                    >Dive into captivating lessons designed to stimulate your curiosity.</p>
                                </li>
                                <li class="proposal-item">
                                    <svg class="proposal-icon" width="20" height="20">
                                        <use href="./images/icons.svg#check"></use>
                                    </svg>
                                    <p class="proposal-text lang"
                                        data-lang-ua="Навчайтеся у сприятливому середовищі, де важливий прогрес кожного студента." 
                                        data-lang-en="Learn in a nurturing setting where every student's progress matters."
                                    >Learn in a nurturing setting where every student's progress matters.</p>
                                </li>
                                <li class="proposal-item">
                                    <svg class="proposal-icon" width="20" height="20">
                                        <use href="./images/icons.svg#check"></use>
                                    </svg>
                                    <p class="proposal-text lang"
                                        data-lang-ua="Відчуйте задоволення від реального прогресу, оскільки ваші мовні навички та впевненість у собі зростають із кожним заняттям." 
                                        data-lang-en="Experience the satisfaction of real progress as your language skills and confidence grow with every session. "
                                    >
                                        Experience the satisfaction of real progress as your language skills and confidence grow with every session.</p>
                                </li>
                            </ul>
                            <a class="button proposal-btn lang" href="#application"
                                data-lang-ua="Залиште заявку" 
                                data-lang-en="Leave an application"
                            >Leave an application</a>
                        </div>
                        <picture class="proposal-img">
                            <source media="(min-width: 768px)" srcset="./images/books.webp 1x, ./images/books@2x.webp 2x" type="image/webp" />
                            <source media="(min-width: 768px)" srcset="./images/books.png 1x, ./images/books@2x.png 2x" type="image/jpeg" />
                            <img class="portfolio-image" src="./images/books.png" srcset="./images/books.png 1x, ./images/books@2x.png 2x" width="214"
                                 alt="Banking App" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
