:root {
    /* fonts */
    --font-family: 'Manrope', sans-serif;
    --second-family: 'Roboto', sans-serif;

    /* colors */
    --clr-black: #121417;
    --clr-black-10: rgba(18, 20, 23, 0.1);
    --clr-black-20: rgba(18, 20, 23, 0.2);
    --clr-black-50: rgba(18, 20, 23, 0.5);
    --clr-black-linear: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
    --clr-green: #4dc274;
    --clr-green-active: #38AE5F;
    --clr-green-accent: #BEE8CC;
    --clr-green-10: rgba(77, 194, 116, 0.1);
    --clr-light-green: #d4fde1;
    --clr-gray: #f3f5f6;
    --clr-white: #ffffff;
    --clr-white-10: rgba(255, 255, 255, 0.1);
    --clr-white-40: rgba(255, 255, 255, 0.4);
    --clr-white-60: rgba(255, 255, 255, 0.6);
    --clr-white-70: rgba(255, 255, 255, 0.7);
    --clr-green-linear: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);

    /* animation */
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* breaking points */
    --bp-mobile: 320px;
    --bp-tablet: 768px;
    --bp-desctop: 1280px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--clr-black);
    background-color: var(--bg-global);
    min-width: 320px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--clr-black-50);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    letter-spacing: -0.02em;
}

h2 {
    font-weight: 700;
    margin-bottom: 16px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

button {
    font-size: 14px;
    line-height: 171%;
}

button:hover,
button:focus,
a:hover,
a:focus {
    outline: none;
}

section {
    padding: 40px 0px;
}

@media screen and (min-width: 768px) {
    section {
        padding: 50px 0px;
    }
}

@media screen and (min-width: 1280px) {
    section {
        padding: 75px 0px;
    }
}

/* main container */
.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 320px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 64px;
    }
}

.btn {
    border: none;
    box-shadow: none;
    border-radius: 12px;
    min-width: 256px;
    width: 100%;
    height: 52px;
    background-color: var(--clr-green);
    color: var(--clr-white);
}

@media only screen and (min-width: 768px) {
    .btn {
        height: 60px;
    }
}
