@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .container {
        max-width: 768px;
    }

    .team-members {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    .teachers-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;

        color: #2e2f42;
        margin-bottom: 16px;
        position: relative;

        display: inline-block;
    }
    .teachers-line {
        position: relative;
    }

    .teachers-line::after {
        content: '';

        position: absolute;
        top: 31px;
        left: 0;

        width: 145px;

        height: 12px;

        background-color: #bee8cc;

        border-radius: 8px;

        z-index: -1;
    }

    .teachers-title .highlight {
        position: relative;
    }

    .teachers-description {
        text-align: center;
        margin-bottom: 48px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 16px;
        width: 334px;
        height: 96px;

        margin: 0 auto 40px auto;
    }

    .team-member {
        background-color: #fff;

        width: 232px;
        height: 318px;
        text-align: center;

        margin: 0 auto;
        
    }

    .team-member img {
        border-radius: 500px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-top: 20px;
        margin-bottom: 16px;
        justify-content: center;
        margin: 20px auto;
        justify-content: center;
        

        display: block;
    }

    .team-info {
        padding: 16px 10px;
        width: 232px;
        height: 152px;
    }

    .team-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 16px;
        margin-bottom: 8px;
        letter-spacing: 0.02em;
        color: #121417;
    }

    .team-position {
        width: 232px;
        height: 120px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        
    }

   
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }

    .team-members {
        display: flex;
        flex-direction: row;
        
        flex-wrap: wrap;
        gap: 32px;
    }

    .teachers-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;

        color: #2e2f42;
        margin-bottom: 16px;
        position: relative;

        display: inline-block;
    }
    .teachers-line {
        position: relative;
    }

    .teachers-line::after {
        content: '';

        position: absolute;
        top: 31px;
        left: 0;

        width: 184px;

        height: 20px;

        background-color: #bee8cc;

        border-radius: 8px;

        z-index: -1;
    }

    .teachers-description {
        text-align: center;
        margin-bottom: 48px;
        font-size: 18px;
        font-weight: 400;
        margin-top: 16px;
        max-width: 709px;

        margin: 0 auto 40px auto;
    }

    .team-member {
        background-color: #fff;

        width: 232px;
        height: 318px;
        text-align: center;

        
        width: calc((100% - 32px)/2);
    }

    .team-member img {
        border-radius: 500px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 16px;

        margin: 0 auto;

        display: block;
    }

    .team-info {
        gap: 8px;
        width: 272px;
        height: 131px;
        text-align: center;
    }

    .team-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 8px;
        margin-top: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #121417;
    }

    .team-position {
        width: 335px;
        height: 103px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;

        overflow-wrap: break-word;
    }

    
    
}

@media screen and (min-width: 1280px) {
    .sct-teachers {
        background-color: transparent;
    }

    .team-members {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 32px;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teachers-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;

        color: #2e2f42;
        margin-bottom: 16px;
        position: relative;

        display: inline-block;
    }

    

    .teachers-description {
        text-align: center;
        margin-bottom: 48px;
        font-size: 18px;
        font-weight: 400;
        margin-top: 16px;
        max-width: 709px;

        margin: 0 auto 40px auto;
    }

    .team-members {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 34px;
    }

    .team-member {
        background-color: #fff;

        width: 232px;
        height: 318px;
        text-align: center;
        
    }

    .team-member img {
        border-radius: 500px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-top: 20px;

        margin: 0 auto 16px auto;

        display: block;
    }
    .team-info {
        gap: 8px;
        width: 272px;
        height: 131px;
        text-align: center;
    }

    .team-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 8px;
        margin-top: 16px;

        letter-spacing: 0.02em;
        color: #121417;
    }

    .team-position {
        width: 232px;
        height: 120px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;

        overflow-wrap: break-word;
    }

   
    

    teachers-line::after {
        content: '';

        position: absolute;
        top: 31px;
        left: 0;

        width: 184px;

        height: 20px;

        background-color: #bee8cc;

        border-radius: 8px;

        z-index: -1;
    }
}
