@media only screen and (min-width: 1280px) {
    .sct-lessons .container {
        padding: 0px 128px;
    }
}

.lesson-description {
    margin-bottom: 40px;
    transition: color var(--transition);
}

@media only screen and (min-width: 768px) {
    .lesson-description {
        width: 665px;
    }
}

@media only screen and (min-width: 1280px) {
    .lesson-description {
        margin-bottom: 64px;
    }
}

.lesson-plan-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

@media only screen and (min-width: 768px) {
    .lesson-plan-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 32px;
    }
}

.lesson-plan-item {
    max-width: 336px;
    border: 1px solid var(--clr-green);
    border-radius: 16px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition);
}

@media only screen and (min-width: 768px) {
    .lesson-plan-item {
        padding: 32px 16px;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 1280px) {
    .lesson-plan-item {
        max-width: 320px;
        padding: 32px;
    }
}

.lesson-plan-item:hover *,
.lesson-plan-item:focus * {
    color: var(--clr-white);
    transition: color var(--transition);
}

.lesson-plan-item:hover .lesson-btn,
.lesson-plan-item:focus .lesson-btn {
    border: 1px solid var(--clr-white-40);
    border-radius: 12px;
    transition: border-color var(--transition);
}

.lesson-plan-item:hover, .lesson-plan-item:focus {
    background-color: var(--clr-green);
    transition: background-color var(--transition);
}

.lesson-plan-title {
    margin-bottom: 16px;
    transition: color var(--transition);
}

.lesson-plan-price {
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
    color: var(--clr-black);
    transition: color var(--transition);
}

@media only screen and (min-width: 1280px) {
    .lesson-plan-price {
        margin-bottom: 16px;
    }
}

.lesson-plan-description {
    margin-bottom: 20px;
    transition: color var(--transition);
}

@media only screen and (min-width: 768px) {
    .lesson-plan-description {
        margin-bottom: 32px;
    }
}

.lesson-btn {
    transition: border-color var(--transition), background-color var(--transition);
}
